.container {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 64, 94, 1) 100%
  );
}
