.container {
  margin: 2px 0px;
  border: 2px solid #363637;
  background-color: #02070c;
  min-width: 320px;
  max-width: 600px;

  min-height: 500px;
  max-height: 600px;

  overflow-y: scroll;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.task_count {
  color: rgb(161, 161, 161);
  text-align: end;
  font-size: smaller;
  padding: 0px 12px;
}
